* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid lightcyan; */
}

body {
  background-color: #000000;
}

html {
  font-size: 62.5%;
}

/* navbar started */
.header {
  align-content: space-between;
  align-self: flex-end;
}
.nav-items {
  font-size: 2rem;
}

.header-logo {
  width: 165px;
}
#franchise-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 15px 20px;
  border-radius: 25px;
}
#order-btn {
  background-color: #ed1c24;
  border: 0px;
  padding: 15px 20px;
  border-radius: 25px;
}

/* navbar ended *
/* carousel */
.img-carousel {
  width: 100%;
}
.img-heading {
  width: 20%;
}
.head-aft-car {
  margin-top: 70px;
  font-size: 2.4rem;
  font-family: 400;
}
/* brands */
.sub-head-aft-car {
  font-size: 1.4rem;
  opacity: 0.4;
  margin-bottom: 40px;
}
.img-card-bg {
  background-color: #ffffff;
  border-radius: 3px;
}
.btn-1 {
  display: block;
  margin-top: 24px;
  margin-left: 43px;
  width: 178px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 99px;
  border: 1px solid #ffffff;
  margin-bottom: 70px;
}

/* brands end */

/* franchises */
.franchise-restraunt-div {
  background-color: #ffffff0f;
  background-image: url(https://images-beta.tossdown.com/site/bb1bd702-431a-4f3a-a0ca-c5966a1f7985.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 325;
}
.franchise-heading {
  margin-top: 70px;
  font-size: 5.2rem;
}
.franchise-subheading {
  font-size: 5.3rem;
  font-family: "Noto Serif TC", serif;
  font-weight: bolder;
}
.another-subheading {
  font-size: 2rem;
  opacity: 0.6;
}
.city-franchise-name{
    color: #ed1c24;
    font-size: 1.6rem;
    letter-spacing: 7px;
    text-align: left;
}
.rest-name{
    font-size: 3.2rem;
}
.address{
    font-size: 1.75rem;
    opacity: 0.6;

}
.btn-2 {
    display: block;
    margin-top: 51px;
    margin-left: 0px;
    width: 178px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 99px;
    border: 1px solid #ffffff;
}
.franchise-card-1{
    margin-top: 48px;
}
.img-of-islamabad{
    margin-top: 48px;
    border-radius: 3px;
    width: 100%;
}
.location{
    margin-left: 20px;
    margin-right: 5px;
    opacity: 0.6;
}
.phone{
    margin-left: 20px;
    margin-right: 5px;
    opacity: 0.6;
}
/* franchise-end */
/* express franchise start */
.express-franchise-img{
width: 70%;
border-radius: 3px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;

}
.express-franchise{
    /* margin: 30px; */
    /* display: flex; */
    width: 30%;
    
}
.city-express-franchise-name{
    display: block;
    color: #ed1c24;
    font-size: 1.6rem;
    letter-spacing: 7px;
    text-align: center;
    /* padding: 90px; */
    margin: 30px;
    
    /* padding-right:150px ; */
}
.heading-express-all{
   font-size: 2.4rem;

}
.heading-express{
    padding-right: 10px;
}
.address-express{
    font-size: 1.7rem;
}
.directions{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
/* express franchise ended */
.franchise-village{
    background-color: #ffffff0f;
    

}
.image-village{
    width: 50%;
    margin-top: 32px;
}
.city-vilage-franchise-name{
    color: #ed1c24;
    font-size: 1.6rem;
    letter-spacing: 7px;
    text-align: left;
    display: block;
    margin-top: auto;
}
.btn-3 {
    display: block;
    margin-top: 51px;
    margin-left: 0px;
    width: 178px;
    height: 50px;
    background-color: #28a745;
    color: #ffffff;
    border-radius: 99px;
    /* border: 1px solid #ffffff; */
    border: 0px;
}
.img-des-vilage{
    width: 50%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
