* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  border: 1px solid lightcyan;
}

body {
  background-color: #000000;
}

html {
  font-size: 62.5%;
}

/* navbar started */
.header {
  align-content: space-between;
  align-self: flex-end;
}
.nav-items {
  font-size: 2rem;
}

.header-logo {
  width: 165px;
}
#franchise-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 15px 20px;
  border-radius: 25px;
}
#order-btn {
  background-color: #ed1c24;
  border: 0px;
  padding: 15px 20px;
  border-radius: 25px;
}

/* navbar ended *
/* carousel */
.img-carousel {
  width: 100%;
}
.img-heading {
  width: 20%;
}
.head-aft-car {
  margin-top: 70px;
  font-size: 2.4rem;
  font-family: 400;
}
/* brands */
.sub-head-aft-car {
  font-size: 1.4rem;
  opacity: 0.4;
  margin-bottom: 40px;
}
.img-card-bg {
  background-color: #ffffff;
  border-radius: 3px;
}
.btn-1 {
  display: block;
  margin-top: 24px;
  margin-left: 43px;
  width: 178px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 99px;
  border: 1px solid #ffffff;
  margin-bottom: 70px;
}

/* brands end */

/* franchises */
.franchise-main-div {
  background-color: #ffffff0f;
  background-image: url(https://images-beta.tossdown.com/site/bb1bd702-431a-4f3a-a0ca-c5966a1f7985.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 325;
}
.franchise-heading {
  margin-top: 70px;
  font-size: 5.2rem;
}
.franchise-subheading {
  font-size: 5.3rem;
  font-family: "Noto Serif TC", serif;
  font-weight: bolder;
}
.another-subheading {
  font-size: 2rem;
  opacity: 0.6;
}
